<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.MyApplication"
        >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.tools.module.activity.TransformActivity" android:exported="true"/>
        <activity android:name="com.tools.module.activity.AAActivity" android:exported="true"/>
        <activity android:name="com.tools.module.activity.ZaActivity" android:exported="true"/>
        <activity android:name="com.tools.module.activity.BmiActivity" android:exported="true"/>
        <activity android:name="com.tools.module.activity.RelationActivity" android:exported="true"/>

    </application>

</manifest>